.button1 {
    border-radius: 25%;
    padding: 1vh;
    margin-right: 2vh; 
    margin-top: 2vh; 
    font-size: 130%; 
    border-width: 3px;
    font-weight: 600;
    background-color: rgb(105, 137, 152);
}

.button1:hover {
    background-color: rgb(81, 105, 117);
    border-color: white;
}
